$board-height: 120px;
.display-left {
  width: 65%;
  float: left;
}
.display-right {
  margin-left: 3%;
  width: 32%;
  float: left;
  height: 100%;
}

.board-display {
  padding: 1em;
  #game-bar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    .game-bar-left {
      padding: 1em;
      width: 70%;
      background: $ta-blue-medium;
      color: #000;
      font-weight: bold;
      float: left;
      .board-name {
        opacity: 0.2;
        &.active-board-true {
          opacity: 1;
        }
        padding: 0 10px;
      }
    }
    .game-bar-right {
      width: 30%;
      background: $ta-camo-green;
      padding: 1em;
      color: #000;
      float: left;
      font-weight: bold;
    }
  }
}

#board {
  height: 120px;
  margin-bottom: 1em;
  padding: 0.5em;
  overflow: hidden;
  background: #ececec;
}

#matches {
  @extend .group;
  background: #ececec;
  padding: 20px;
  height: 100%;
  &.match-already-matched {
    background: lighten($tile-red, 20%);
  }
}


#match-hero {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 100;
  text-align: center;
  width: 50%;
  img {
    width: 80%;
    height: auto;
    max-height: 500px;
    margin: 1em 0;
  }
}

.match-hero {
  width: 100%;
  text-align: center;
  padding: 1em;
  background: #ccc;
  -webkit-box-shadow: 0px 0px 192px 0px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 0px 192px 0px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 192px 0px rgba(0,0,0,0.74);
  &.long-press {
    border-top: dashed 3px #000;
    border-bottom: dashed 3px #000;
  }
  &.longer-press {
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0) 10px,
      rgba(0, 0, 0, 0.1) 10px,
      rgba(0, 0, 0, 0.1) 20px
    );
    background-color: #ccc;
  }
  &.timed-together {
    border-top: solid 5px #000;
  }
}

.player-jdenticon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  z-index: 0;
  background: $ta-blue-dark;
}

#points {
  padding: 20px;
  text-align: center;
  background: $ta-camo-green;
  .total-points {
    font-size: 1.3em;
    font-weight: bold;
  }
}

$votes-bar-height: 2em;
#votes {
  width: 100%;
  .votes-bar {
    width: 100%;
    height: $votes-bar-height;
    background: $ta-blue-dark;
  }
  .vote-percentage {
    transition: all 500ms ease-in-out;
    height: $votes-bar-height;
    float: left;
    display: block;
    width: 0%;
    &.vote-percentage-blue {
      background: $tile-blue;
    }
    &.vote-percentage-red {
      background: $tile-red;
    }
    &.vote-percentage-yellow {
      background: $tile-yellow;
    }
    &.vote-percentage-green {
      background: $tile-green;
    }
  }
}
