$tile-width: 100px;
$tile-height: 100px;

$shadow-color: #111;

$tile-blue: #334FF0;
$tile-red: #F55252;
$tile-yellow: #F7FB64;
$tile-green: #7BDE7A;

.tile {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  // margin-right: 10px;
  // border-radius: 4px;
  &.tile-blue {
    background-color: $tile-blue;
    // border: solid 2px darken($tile-blue, 40%);
    // border-left-color: lighten($tile-blue, 10%);
    // border-top-color: lighten($tile-blue, 10%);
    // box-shadow: -3px -3px 0 darken($tile-blue, 30%);
  }
  &.tile-red {
    background-color: $tile-red;
    // border: solid 2px darken($tile-red, 40%);
    // border-left-color: lighten($tile-red, 10%);
    // border-top-color: lighten($tile-red, 10%);
    // box-shadow: -3px -3px 0 darken($tile-red, 30%);
  }
  &.tile-yellow {
    background-color: $tile-yellow;
    // border: solid 2px darken($tile-yellow, 40%);
    // border-left-color: lighten($tile-yellow, 10%);
    // border-top-color: lighten($tile-yellow, 10%);
    // box-shadow: -3px -3px 0 darken($tile-yellow, 30%);
  }
  &.tile-green {
    background-color: $tile-green;
    // border: solid 2px darken($tile-green, 40%);
    // border-left-color: lighten($tile-green, 10%);
    // border-top-color: lighten($tile-green, 10%);
    // box-shadow: -3px -3px 0 darken($tile-green, 30%);
  }
  &.blocked {
    background: #000;
  }
  &.grouped {
    border-top: solid 5px #000;
  }
  &.pressed-1000 {
    box-shadow: 1px -1px $shadow-color, 2px -2px $shadow-color, 3px -3px $shadow-color, 4px -4px $shadow-color;
  }
  // &.group-end {
  //   border: none 0;
  // }
}

.block-play {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  opacity: 0.9;
  padding: 30%;
  font-size: 2em;
  &.hide {
    display: none;
  }
}

.tile.animated-loop {
  animation-iteration-count: infinite;
}

.tile.animated-after-press {
  animation-iteration-count: 1;
  animation-duration: 200ms;
}

.tile.animated-fast{
  animation-iteration-count: infinite;
  animation-duration: 100ms;
}

#player-hand {
  width: 100%;
  height: 100%;
  .tile {
    display: block;
    float: left;
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 0;
  }
}

.matched-tiles-set {
  .tile.grouped {
    border-top: solid 2px $shadow-color;
  }
  .tile.pressed-1000 {
    margin-top: 3px;
    box-shadow: 1px -1px $shadow-color, 2px -2px $shadow-color, 3px -3px $shadow-color, 4px -4px $shadow-color;
  }
}
