$tile-width: 100px;
$tile-height: 100px;

$shadow-color: #111;

$tile-blue: #334FF0;
$tile-red: #F55252;
$tile-yellow: #F7FB64;
$tile-green: #7BDE7A;

.tile {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  // margin-right: 10px;
  // border-radius: 4px;
  &.long-press {
    border-top: dashed 3px #000;
    border-bottom: dashed 3px #000;
  }
  &.longer-press {
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.0) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
    ),
    // box-shadow: 1px -1px $shadow-color, 2px -2px $shadow-color, 3px -3px $shadow-color, 4px -4px $shadow-color;
  }
  &.tile-blue {
    background-color: $tile-blue;
    // border: solid 2px darken($tile-blue, 40%);
    // border-left-color: lighten($tile-blue, 10%);
    // border-top-color: lighten($tile-blue, 10%);
    // box-shadow: -3px -3px 0 darken($tile-blue, 30%);
  }
  &.tile-red {
    background-color: $tile-red;
    // border: solid 2px darken($tile-red, 40%);
    // border-left-color: lighten($tile-red, 10%);
    // border-top-color: lighten($tile-red, 10%);
    // box-shadow: -3px -3px 0 darken($tile-red, 30%);
  }
  &.tile-yellow {
    background-color: $tile-yellow;
    // border: solid 2px darken($tile-yellow, 40%);
    // border-left-color: lighten($tile-yellow, 10%);
    // border-top-color: lighten($tile-yellow, 10%);
    // box-shadow: -3px -3px 0 darken($tile-yellow, 30%);
  }
  &.tile-green {
    background-color: $tile-green;
    // border: solid 2px darken($tile-green, 40%);
    // border-left-color: lighten($tile-green, 10%);
    // border-top-color: lighten($tile-green, 10%);
    // box-shadow: -3px -3px 0 darken($tile-green, 30%);
  }
  &.blocked {
    background: #000;
  }
  &.grouped {
    border-top: solid 5px #000;
  }
  // &.group-end {
  //   border: none 0;
  // }
}

.dummy-tile {
  opacity: 0.3;
  &.tile-blue {
    background-color: $tile-blue;
  }
  &.tile-red {
    background-color: $tile-red;
  }
  &.tile-yellow {
    background-color: $tile-yellow;
  }
  &.tile-green {
    background-color: $tile-green;
  }
}
.block-play-timer {
  position: fixed;
  transition: all 300ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  padding: 2em;
  font-size: 1.4em;
  text-align: center;
  .timer {
    margin-top: 50px;
    padding: 0.5em;
  }
}

.block-play {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  opacity: 0.95;
  padding: 2em;
  font-size: 1.4em;
  text-align: center;
  img.blocked-image {
    width: 100%;
  }
  .blocked-wait-time {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: $ta-camo-green-light;
    color: $ta-blue-dark;
    font-weight: bold;
    text-align: center;
  }
  &.hide {
    display: none;
  }
}

.tile.animated-loop {
  animation-iteration-count: infinite;
}

.tile.animated-after-press {
  animation-iteration-count: 1;
  animation-duration: 200ms;
}

.tile.animated-fast{
  animation-iteration-count: infinite;
  animation-duration: 100ms;
}

#player-hand {
  background: #fff;
  width: 100%;
  height: 100%;
  .tile, .dummy-tile {
    display: block;
    float: left;
    width: 50%;
    height: 50%;
    border: none;
    border-radius: 0;
  }
}

.matched-tiles-set {
  @extend .group;
  .tile {
    height: $tile-height * 0.33;
  }
  .tile.grouped {
    border-top: solid 3px $shadow-color;
  }
  .tile.pressed-1000 {
    margin-top: 3px;
    box-shadow: 1px -1px $shadow-color, 2px -2px $shadow-color, 3px -3px $shadow-color, 4px -4px $shadow-color;
  }
  .tile.pressed-3000 {
    border-top: dotted 2px #000;
    border-bottom: dotted 2px #000;
  }
  .match-points {
    width: 15%;
    float: left;
    line-height: $tile-height * 0.33;
    background: $ta-camo-green;
    font-weight: bold;
    text-align: center;
    margin-right: 2%;
  }
  .match-tiles {
    width: 83%;
    float: left;
  }
}

.board-tile .tile-jdenticon {
  display: block;
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  padding: 0.2em;
  background: $ta-blue-dark;
  canvas {
    display: block;
    float: left;
  }
}
.j-ascii-tiles, .ascii-tiles {
  display: inline-block;
  vertical-align: bottom;
}
.ascii-tile {
  display: inline-block;
  &.ascii-tile-blue {
    color: $tile-blue;
  }
  &.ascii-tile-red {
    color: $tile-red;
  }
  &.ascii-tile-yellow {
    color: $tile-yellow;
  }
  &.ascii-tile-green {
    color: $tile-green;
  }
}

#achievement-tiles-tray {
  background: $ta-camo-green-light;
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
}

.achievement-tile {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: $ta-blue-medium;
  padding: 0.5em;
  img {
    margin-top: 20%;
    width: 100%;
  }
}
.close-achievement-tiles {
  cursor: pointer;
  float: right;
  width: 60px;
  height: 60px;
  background: $tile-red;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.open-achievement-tiles {
  position: fixed;
  bottom: -50px;
  right: -50px;
  transform: rotate(45deg);
  background: $ta-blue-light;
  width: 100px;
  height: 100px;
  border: solid 4px $ta-camo-green;
}
