$tile-blue: #334FF0;
$tile-red: #F55252;
$tile-yellow: #F7FB64;
$tile-green: #7BDE7A;

$theme-almost-black: #363033;
$theme-orange: #E4550F;
$theme-yellow: #FAA10E;
$theme-green: #A9912C;
$theme-dark-brown: #5E4540;

$ta-camo-green: #7B755A;
$ta-camo-green-light: #C2B397;
$ta-blue-light: #D8C9C0;
$ta-blue-medium: #838285;
$ta-blue-dark: #373438;
