@import 'variables';
@import 'reset';
@import 'modals';
@import 'buttons';
@import 'animista';
@import 'animate';
@import 'typography';
@import 'forms';
@import 'board';
@import 'tiles';

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $ta-camo-green-light;
  height: 100%;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

main {
  width: 100%;
  height: 100%;
  // width: 1027px;
  // margin: 0 auto;
}

#debug {
  color: #ececec;
  background: #111;
  padding: 0.5em;
  width: 100%;
}

#game-bar {
  color: #ececec;
  background: #111;
  padding: 0.5em;
  width: 100%;
}


.join.form {
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 2em;
  color: #fff;
  margin-top: 25%;
  background: $ta-blue-medium;
  box-shadow: 4px 4px 0 $ta-camo-green;
  border-radius: 4px;
}
