@import 'variables';
@import 'reset';
@import 'animista';
@import 'animate';
@import 'typography';
@import 'forms';
@import 'tiles';

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $ta-blue-dark;
  height: 100%;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

main {
  width: 100%;
  height: 100%;
  // width: 1027px;
  // margin: 0 auto;
}

#debug {
  color: #ececec;
  background: #111;
  padding: 0.5em;
  width: 100%;
}

.join.form {
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 2em;
  color: #fff;
  margin-top: 25%;
  background: $ta-blue-medium;
  box-shadow: 4px 4px 0 $ta-camo-green;
  border-radius: 4px;
}

$board-height: 120px;
.supervisor-left {
  width: 65%;
  float: left;
}
.supervisor-right {
  margin-left: 3%;
  width: 32%;
  float: left;
  height: 100%;
}

#board {
  min-height: 120px;
  margin-bottom: 1em;
  padding: 0.5em;
  overflow: hidden;
  background: #ececec;
}

#match-hero {
  padding: 1em;
  background: #ccc;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 22%;
  img {
    width: 100%;
    margin-bottom: 1em;
  }
}

#matches {
  @extend .group;
  background: #ececec;
  padding: 20px;
  .tile {
    height: $tile-height * 0.33;
  }
  height: 100%;
}

.board-tile .tile-jdenticon {
  display: block;
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  padding: 0.2em;
  background: $ta-blue-dark;
  canvas {
    display: block;
    float: left;
  }
}

.player-jdenticon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background: $ta-blue-dark;
}
